*.swp

proposal/*.aux
proposal/*.bbl
proposal/*.blg
proposal/*.log
proposal/*.pdf

paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.pdf
paper/*.out

progress reports/*.aux
progress reports/*.bbl
progress reports/*.blg
progress reports/*.log
progress reports/*.pdf
progress reports/*.out

related works/*.aux
related works/*.bbl
related works/*.blg
related works/*.log
related works/*.pdf
related works/*.out

presentation/.~lock.presentation.odp#
